<div flex-container="row" flex-align="center">
  <div flex-item="9">
    <lx-tabs lx-active-tab="vm.activeTab">
    <lx-tab lx-label="Preguntas">
      <div class="p+">
        <div class="card top-space">
          <div class="p+">
            <strong class="fs-headline display-block tc-red-900">
              ¿{{question.question}}?
            </strong>
            <div class="paragraph fs-body-1 mt+">
              <div class="p+">
                <lx-radio-group>
                  <lx-radio-button name="question.select" value="{{key}}" ng-model="question.select" ng-repeat="(key, answer) in question.answers">{{answer}}</lx-radio-button>
                </lx-radio-group>
              </div>
            </div>
          </div>
          <div class="card__actions">
            <lx-button lx-type="raised" ng-click="validar()">Responder</lx-button>
          </div>
        </div>
      </div>
    </lx-tab>

    <lx-tab lx-label="Resumen" ng-disabled="vm.tabIsDisabled">
    </lx-tab>
</lx-tabs>

  </div>
</div>
