<div layout='row' flex layout-align="center center" layout-margin="40">
    <md-card flex-sm="45" flex-gt-sm="35" flex-gt-md="25">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Iniciar Sesion</span>
          </md-card-title-text>
        </md-card-title>
        <form ng-submit="inicar()">
          <md-card-content>
            <md-input-container>
              <label>User</label>
              <input ng-model="user">
            </md-input-container>
            <md-input-container>
              <label>Password</label>
              <input ng-model="password" type="password">
            </md-input-container>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-primary" ng-click="iniciar()">Acceder</md-button>
          </md-card-actions>
        </form>
      </md-card>
</div>
